In [3]:
import numpy as np
import pandas as pd

In [103]:
class Gradient_descent:
    def __init__(self,epochs=100,Learning_rate=0.01):
        self.intercept_=None
        self.coefficients_=None
        self.epochs=epochs
        self.Lr=Learning_rate
    def fit(self,X_train,y_train):
        self.intercept_=0
        self.coefficients_=np.ones(X_train.shape[1])
        for i in range(self.epochs):
            y_hat = self.intercept_ + np.dot(X_train,self.coefficients_)
            intercept_der = -2 * np.mean(y_train-y_hat)
            self.intercept_=self.intercept_ - (self.Lr*intercept_der)

            coefficients_der = -2 * np.dot((y_train - y_hat),X_train)/X_train.shape[0]
            self.coefficients_ = self.coefficients_ - (self.Lr*coefficients_der)
        return self.intercept_,self.coefficients_
    def predict(self,X_test):
        Y_pred = np.dot(X_test,self.coefficients_)+self.intercept_
        return Y_pred

In [56]:
data = pd.read_csv("data/housing_data.csv")

In [57]:
data.select_dtypes(include=["object","category"])

     BuildingType SaleCondition
0         1Family        Normal
1         1Family        Normal
2         1Family        Normal
3         1Family      Abnormal
4         1Family        Normal
...           ...           ...
1455      1Family        Normal
1456      1Family        Normal
1457      1Family        Normal
1458      1Family        Normal
1459      1Family        Normal

[1460 rows x 2 columns]

In [58]:
data.drop(columns=data.select_dtypes(include=["object","category"]).columns,inplace=True)

In [59]:
data.head()

,BuildingClass,StreetSize,LotArea,OverallCondition,YearRemodeled,LivingAreaSize,Bathroom,Bedroom,Kitchen,TotalRooms,Fireplaces,GarageCars,GarageArea,SalePrice
0,60.0,65.0,8450.0,5.0,2003.0,1710.0,2.0,3.0,1.0,8.0,0.0,2.0,548.0,208500
1,20.0,80.0,9600.0,8.0,NaN,1262.0,2.0,3.0,1.0,6.0,1.0,2.0,460.0,181500
2,60.0,68.0,11250.0,5.0,NaN,1786.0,2.0,3.0,1.0,6.0,1.0,2.0,608.0,223500
3,70.0,60.0,9550.0,5.0,1970.0,1717.0,1.0,3.0,1.0,7.0,1.0,3.0,642.0,140000
4,60.0,84.0,14260.0,5.0,2000.0,2198.0,2.0,4.0,NaN,9.0,1.0,3.0,836.0,250000

In [60]:
data.isnull().sum()

BuildingClass        81
StreetSize          317
LotArea              81
OverallCondition     58
YearRemodeled        76
LivingAreaSize       82
Bathroom             56
Bedroom              64
Kitchen              77
TotalRooms           63
Fireplaces           73
GarageCars           65
GarageArea           67
SalePrice             0
dtype: int64

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X = data.iloc[:,0:13]
Y=data.iloc[:,13]

In [63]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.30,random_state=24)

In [64]:
X_train.isnull().sum()

BuildingClass        52
StreetSize          216
LotArea              57
OverallCondition     36
YearRemodeled        54
LivingAreaSize       59
Bathroom             37
Bedroom              49
Kitchen              55
TotalRooms           46
Fireplaces           56
GarageCars           41
GarageArea           48
dtype: int64

In [65]:
cols = X_train.columns.tolist()
print(cols)

['BuildingClass', 'StreetSize', 'LotArea', 'OverallCondition', 'YearRemodeled', 'LivingAreaSize', 'Bathroom', 'Bedroom', 'Kitchen', 'TotalRooms', 'Fireplaces', 'GarageCars', 'GarageArea']

In [66]:
for col in cols:
    mean_val = X_train[col].mean()
    X_train[col].fillna(mean_val, inplace=True)
    X_test[col].fillna(mean_val, inplace=True)

In [67]:
y_train.isnull().sum()

0

In [68]:
y_test.isnull().sum()

0

In [69]:
X_train.isnull().sum()

BuildingClass       0
StreetSize          0
LotArea             0
OverallCondition    0
YearRemodeled       0
LivingAreaSize      0
Bathroom            0
Bedroom             0
Kitchen             0
TotalRooms          0
Fireplaces          0
GarageCars          0
GarageArea          0
dtype: int64

In [70]:
X_test.isnull().sum()

BuildingClass       0
StreetSize          0
LotArea             0
OverallCondition    0
YearRemodeled       0
LivingAreaSize      0
Bathroom            0
Bedroom             0
Kitchen             0
TotalRooms          0
Fireplaces          0
GarageCars          0
GarageArea          0
dtype: int64

In [72]:
from sklearn.preprocessing import StandardScaler

In [74]:
std = StandardScaler()

In [76]:
X_train = std.fit_transform(X_train)

In [87]:
X_test = std.transform(X_test)

In [88]:
from sklearn.linear_model import LinearRegression

In [89]:
LinReg = LinearRegression()

In [90]:
LinReg.fit(X_train,y_train)

LinearRegression()

In [92]:
Y_prediction=LinReg.predict(X_test)

In [93]:
from sklearn.metrics import mean_squared_error

In [94]:
mse = mean_squared_error(y_test, Y_prediction)
print("MSE:", mse)

MSE: 2294101060.0785193

In [95]:
RMSE = np.sqrt(mse)
print("RMSE", RMSE)

RMSE 47896.775048833086

In [96]:
from sklearn.metrics import r2_score

In [97]:
r2 = r2_score(y_test, Y_prediction)
print("R²:", r2)

R²: 0.7071557275442308

### MSE: 2294101060.0785193
RMSE 47896.775048833086
R²: 0.7071557275442308

In [108]:
GD = Gradient_descent(100,0.2)

In [109]:
GD.fit(X_train,y_train)

(181249.09491193737,
 array([ -7134.44470998,  -1564.75875726,   4380.32811202,   -376.21332372,
         15862.65040165,  25343.48739178,   5937.66403048, -11869.39414997,
         -7967.74604256,  11179.63332625,   9526.15462912,  14042.73890881,
          8663.91029018]))

In [106]:
LinReg.intercept_

181249.09491193737

In [107]:
LinReg.coef_

array([ -7136.30617446,  -1564.56818221,   4379.95150549,   -376.37014906,
        15862.70971414,  25355.10515745,   5934.92597073, -11867.03730717,
        -7965.7838044 ,  11168.27633411,   9524.96179133,  14058.5367313 ,
         8647.72019483])

In [110]:
GD_Ypred = GD.predict(X_test)

In [111]:
gd_r2 = r2_score(y_test,GD_Ypred)

In [112]:
gd_r2

0.7071445969449222